# 04. 리스트, 튜플, 딕셔너리, 셋 학습

> 파이썬의 매우 중요한 데이터 타입 <br>
> 파이썬에서는 모든 데이터 타입이 객체 <br>

> - 참고문서
  https://docs.python.org/3.6/library/stdtypes.html#sequence-types-list-tuple-range

### 1. 리스트 클래스
1. list1 = list()		# 공백 리스트 생성<br>
- list2 = list("Hello")		# 문자 H, e, l, l, o를 요소로 가지는 리스트 생성<br>
- list3 = list(range(0, 5))	# 0, 1, 2, 3, 4를 요소가 가지는 리스트 생성<br>
- list4 = [ ] 			# 공백 리스트 생성<br>
- list5 = [ "H", "e", "l", "l", "o" ] 	# 문자 H, e, l, l, o를 요소로 가지는 리스트<br> 
- list6 = [ 0, 1, 2, 3, 4 ]# 0, 1, 2, 3, 4를 요소가 가지는 리스트 생성<br>

### 2. 복잡한 list
1. list1 = [12, "dog", 180.14] 				# 혼합 자료형 <br>
- list2 =  [["Seoul", 10], ["Paris", 12], ["London", 50]] 	# 내장 리스트<br> 
- list3 = ["aaa", ["bbb", ["ccc", ["ddd", "eee", 45]]]] 	# 내장 리스트 <br>

In [1]:
'''
1. java의 배열 타입 
    - 하나의 타입으로만 데이터 저장 가능
    - 상위 타입으로 배열 생성시에 자손 타입의 객체들 저장 가능
    
2. java의 ArrayList 타입
    - 기본(8가지) 제외한 모든 타입 즉 모든 객체들 저장 가능
    
3. python의 list 타입
    - 타입과 무관하게 혼합 타입 수용 가능
'''
a = [1, 2.5, 'string']
a[0]

1

In [4]:
# b를 참조하는 list 객체 내 3이라는 데이터 값 출력
b = [[1,2,3], 'string']
b[0][2]

3

In [8]:
# b를 참조하는 list 객체 내 3을 '삼'으로 출력
b[0][2] = '삼'
b

[[1, 2, '삼'], 'string']

In [9]:
# list c
c = [1,2,3,4,5]

In [10]:
c[-1]

5

In [11]:
c[-4]

2

In [13]:
c[1:3]

[2, 3]

In [14]:
# list 곱하기 가능
c * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
# list 더하기 가능
# list 빼기는 불가능
c + [8,9]

[1, 2, 3, 4, 5, 8, 9]

In [25]:
# list 요소 검증
4 in c

True

In [24]:
7 in c

False

In [29]:
# list 인자 삭제 for good
del c[2:]
c

[1, 2]

In [33]:
# 하나의 del 문장으로 3과 5 삭제하기
c=[1,2,3,4,5,6,7]
c
del c[2], c[-3]
c

[1, 2, 4, 6, 7]

### list -> stack

1. append(data) : 호출 시 list의 가장 마지막에 데이터 추가 저장
2. pop(index) : 호출 시 index 값으로 존재하는 모든 데이터 반환 및 삭제 가능
- stack처럼 개발할 경우, stack 자료구조 특징에 맞추어 가장 마지막 index 값으로 데이터 반환
 
### list -> queue
 
- 가장 처음 index 값으로 데이터 반환하도록 작성

In [44]:
# list 활용하여 stack 구조 만들어 보기
# stack : first in, last out / last in, first out
# append() / pop()

list = [100,200,300,400]
list

list2 = ['a', 'B', 'c', 'D']
list2

['a', 'B', 'c', 'D']

In [38]:
list.append(500)
list

[100, 200, 300, 400, 500]

In [39]:
# pop은 데이터 추출하는 동시에 삭제
list.pop(1)
list

[100, 300, 400, 500]

In [41]:
# list를 queue 구조처럼 만들기
## 가장 처음 index 값으로 데이터 반환하면 되지 않을까?

In [43]:
list.sort() # 이미 정렬된 상태
list

[100, 300, 400, 500]

In [48]:
list2.sort() # 정렬규칙 (대문자 -> 소문자)
list2

['B', 'D', 'a', 'c']

In [50]:
# 사용자가 정한 정렬 규칙에 따라 정렬
list2 = ['a', 'B', 'c', 'D']
list2.sort(key=str.lower) # 모두 소문자라고 가정할 때 알파벳 순서에 따라 정렬
list2

['a', 'B', 'c', 'D']

In [51]:
# 역정렬 (단, 대소문자 무시)
list2 = ['a', 'B', 'c', 'D']
list2.sort(key=str.lower, reverse=True) # 모두 소문자라고 가정할 때 알파벳 역순으로 정렬
list2

['D', 'c', 'B', 'a']

In [52]:
# logic behind this? 아스키코드 - 처음에 오는 숫자로 대소비교
list3 = ['123', '34', '56', '2345']
list3.sort()
list3

['123', '2345', '34', '56']

In [53]:
# logic behind this? 숫자 자체의 크기로 대소비교
list3 = [123, 34, 56, 2345]
list3.sort()
list3

[34, 56, 123, 2345]

In [2]:
list3 = [123, 34, 56, 2345]
list3.sort(key=int, reverse=True)
list3

[2345, 123, 56, 34]

In [4]:
# for문 이용하여 list 변수에 데이터값 저장하기
list5 = []

for i in range(5):
    list5.append(i)
list5

[0, 1, 2, 3, 4]

In [7]:
# 원본 데이터를 수정하는 sort()
list5.sort(reverse=True)
list5

[4, 3, 2, 1, 0]

In [10]:
list5 = []

for i in range(5):
    list5.append(i)

In [12]:
# 원본 데이터 유지하면서 정렬을 원할 때 sorted()
newlist5 = sorted(list5, reverse=True)
print(list5)
print(newlist5)

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]

In [56]:
list4 = ['b', 'a', 'c', 'd']
list4

['b', 'a', 'c', 'd']

In [59]:
list4.reverse()
list4

['d', 'c', 'a', 'b']

In [14]:
data = [['심바', '날라'], [5, 7]]

In [15]:
print(data[0][0], data[1][0])

심바 5

In [31]:
# list 학습을 위한 문제 만들고 답안 도출하기
Shopping = [('신세계백화점', '롯데백화점', 'GS마켓', '마켓컬리'),
            ('여성의류', '남성의류', '패션잡화', '청과물', '가공식품'),
            ('직접방문', '당일배송', '일반택배'),
            (10000, 5000, 3000)]

# '신세계백화점'에서 '여성의류'를 '일반택배'로 주문할 경우와 그에 따른 소요비용을 출력하라
print("1번 문제와 답 :", Shopping[0][0], Shopping[1][0], Shopping[2][2], Shopping[3][2], "원")

# '마켓컬리'에서 '가공식품'을 '당일배송'으로 주문할 경우와 그에 따른 소요비용을 출력하라
print("2번 문제와 답 :", Shopping[0][3], Shopping[1][4], Shopping[2][1], Shopping[3][1], "원")

# '롯데백화점'에서 '남성의류'를 '직접방문'하여 구매할 경우와 그에 따른 소요비용을 출력하라
print("3번 문제와 답 :", Shopping[0][1], Shopping[1][1], Shopping[2][0], Shopping[3][0], "원")

1번 문제와 답 : 신세계백화점 여성의류 일반택배 3000 원
2번 문제와 답 : 마켓컬리 가공식품 당일배송 5000 원
3번 문제와 답 : 롯데백화점 남성의류 직접방문 10000 원

### 3. 튜플
- 변경 불가능한 리스트, 연산 사용 가능<br>
#### () 사용하여 표현
- tuple1 = ()<br>
- tuple2 = tuple()<br><br>
#### 더하기 연산 가능<br>
- t1 = (1, 2, 3, 4, 5)<br>
- t2 = ("red", "green", "blue")<br>
- t = t1 + t2 <br>
- t3 = 'test', 'test1', 'test2' #괄호없이 나열될 객체들도 튜플로 간주

In [33]:
t1 = (1,2,3)
t2 = ('a', 'b', 'c')

In [34]:
t1 + t2

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
# append() 미지원, index로 데이터 수정도 불가
# t1[2] = 5 (실행오류)

In [36]:
t3 = (1, 2, 2, 1, 3, 4, 5)

# 개수 세기
print(t3.count(1))

# 위치 확인
print(t3.index(5))

2
6

In [39]:
# list에 튜플 저장
list1 = [(1,2,3), ['a', 'b', 'c']]

In [40]:
list1[0]

(1, 2, 3)

In [41]:
# 2라는 데이터만 출력
list1[0][1]

2

In [42]:
# 다중 변수 선언 및 동시 초기화
x, y, z = 10, 20, 30
x

10

In [43]:
(x1, y1) = (1, 2)

In [45]:
# x1 값을 10으로 변경
x1 = 10
(x1, y1)

(10, 2)

In [46]:
# 튜플 속 튜플
t = (1234, 5678, 'hello')
u = t, (1,2,3,4,5)
u

((1234, 5678, 'hello'), (1, 2, 3, 4, 5))

In [49]:
# hello만 출력하기
u[0][2]

'hello'

### *용어

> **패킹(packing)** : 하나의 변수에 여러 개의 데이터를 넣는 구조 <br>
> **언패킹(unpacking)** : 하나의 변수에서 여러 개의 데이터를 각각 꺼내오는 구조

In [55]:
# 패킹(packing)
# 괄호 없이 생성하면 튜플로 생성
t = 1, 2, 'hello'
type(t)

tuple

In [57]:
# 언패킹(unpacking)
t = a, b, c
a

1

In [58]:
# 튜플 반환하는 함수

def tupleReturn(a, b):
    return a+b, a*b

tupleReturn(10, 20)

(30, 200)

### lambda 함수

1. 이름 없이 단순한 로직의 함수 구조 선언
2. x : 인수값을 받는 변수 / - : 변수선언과 수식의 구분자

In [2]:
# 스스로 해보고 이해하기
bomb = lambda x : x + 10
bomb(10)

20

In [67]:
# 내가 만들어 본 lambda 함수
times = lambda x1 : 20 * x1 + 5
times(10)

205

In [69]:
# 내가 만들어 본 lambda 함수 2
lunch = lambda k, l : 3*k+5*l+2
lunch(100,10)

352

### 4. Dict

1. 특정키를 주면 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형
- 중복되지 않는 키(key)와 값(value)의 쌍으로 관리되는 객체 <br>
  { key : value }
- index 없음
- 주요 함수 : <br>
  get() / items() / keys() / values() / copy() / update()
- 저장 및 활용
  1. 이미 존재하는 dict에 추가 저장 : dict['newKey'] = 새로운 데이터 <br>
  2. 이미 존재하는 데이터 반환 : get(), ['key']
  
> - 참고문서 <br>
 https://docs.python.org/3.6/library/stdtypes.html#mapping-types-dict

In [70]:
member = {'A' : '심바', 'B' : '날라'}
member['A']

'심바'

In [71]:
# key에 본인 이름을 저장
member['A'] = '혜리'
member

{'A': '혜리', 'B': '날라'}

In [75]:
# dict member 속성
print(len(member))
print(type(member))

2
<class 'dict'>

In [80]:
# dict 생성하는 다른 방법
# dict(key=value)
dict(가=10, 나=100)

{'가': 10, '나': 100}

In [81]:
hangul = dict(가=1, 나=2, 다=3)
hangul['가']

1

In [82]:
# list에 tuple/dict 타입을 데이터로 적용하기
t1 = (10, 11, 12)
d1 = dict(a=1, b=2, c=3)
l1 = [t1, d1]
l1

[(10, 11, 12), {'a': 1, 'b': 2, 'c': 3}]

In [84]:
# 위 list에서 일부 데이터 호출하기
print(l1[1]['b'])
print(l1[0][1])

2
11

In [85]:
# l1[1]에 저장된 dict의 값 수정
l1[1]['c'] = 50
l1

[(10, 11, 12), {'a': 1, 'b': 2, 'c': 50}]

In [96]:
#
datas = {'가':5,'나':10,'다':15,'라':20}
datas.keys()

dict_keys(['가', '나', '다', '라'])

In [97]:
# 조건문 이용해서 데이터 존재 여부 확인
# 내부적으로 'a' key 여부를 반복해서 검증

if 'a' in datas:
    print('a key는 존재')

### 중간점검

1. 데이터형 / 숫자(정수, 실수), 부울, 문자열 등
2. 자료형 / list[] - tuple() - dict{} - set{}
3. dict{} 는 중복 key 불허
4. set{}는 중복 데이터 불허, dict의 key 타입으로 활용됨

In [98]:
!python --version

Python 3.7.0

### 5. 셋
1. 중복되지 않는 순서 없는 항목들 <br>
- set1 = {2, 1, 3} <br>
- set2 = set()

> 참고문서
  https://docs.python.org/3.6/library/stdtypes.html#set-types-set-frozenset

####  부분 집합 연산 & 합집합 연산
> issubset() - 부분 집합 여부 검사<br>
> issuperset() - 상위집합 여부 검사<br>

> union() - 합집합 <br>
> intersection() - 교집합, & 연산자 사용 가능<br>
> difference() - 차집합, - 연산자 사용 가능<br>

In [4]:
# 부분 집합 연산 - 동일 여부 확인
A = {1, 2, 3}
B = {1, 2, 3}
A == B

True

In [5]:
# 부분 집합 연산
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B < A

True

In [6]:
# 부분 집합 연산
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B.issubset(A)

True

In [7]:
# 집합 연산
A = {1, 2, 3}
B = {3, 4, 5}

A | B

{1, 2, 3, 4, 5}

In [8]:
A & B

{3}

In [9]:
A - B

{1, 2}

In [99]:
# set 구조의 객체 생성
set2 = set()
set2

set()

In [100]:
type(set2)

set

In [101]:
set2 = {1, 2, 3}
set2

{1, 2, 3}

In [105]:
# 중복되는 값은 알아서 제거
set3 = {1, 2, 3, 3}
set3

{1, 2, 3}

In [106]:
# 이미 존재하는 set에 새로운 데이터 추가 저장
set3.add(5)
set3

{1, 2, 3, 5}

In [108]:
# set 내 데이터 삭제
set3.discard(3)
set3

{1, 2, 5}

In [109]:
set4 = {7, 8, 9}
set3.update(set4)
set3

{1, 2, 5, 7, 8, 9}

In [112]:
# set 내 데이터 유무 검증
7 not in set3 # false 반환
7 in set3

True