# 05. 함수 구현의 다양한 문법 

1. 인수(argument) - 호출 프로그램에 의하여 함수에 전달되는 값
- 매개변수(parmeter) - 인수값을 전달받는 변수

--------------------------------------------------------

1.  디폴트 인수 : 함수의 매개 변수가 기본값 보유
- 키워드 인수 : 인수들 앞에 키워드를 두어 인수 구분
- 임의의 인수 목록 : 인자의 개수가 정해지지 않은 가변 인수를 전달
- 람다 함수 : 이름이 없는 1줄 함수

### 1. 디폴트 인수

In [8]:
# 매개변수 기본 초기화값 활용하는 함수
# 호출 : 함수명 (값1, 값2 ...)
def fun1(name, age = 30):
    print(name, ' ', age)

In [5]:
fun1("최낙타")

최낙타   30

In [6]:
fun1("최낙타", 50)

최낙타   50

### 2. 키워드 인수

In [9]:
def fun2(x, y, z):
    return x + y + z

In [10]:
fun2(10, 20, 30)

60

In [14]:
# 키워드 인수의 순서는 상관없음
fun2(z=10, y=100, x=1000)

1110

### 3. 임의의 인수

- *를 사용할 경우 인수는 튜플 형식
- 가변인자 활용

In [15]:
def fun3(*args, sep='-'):
    return sep.join(args)

In [16]:
fun3('a', 'b')

'a-b'

In [17]:
fun3('a', 'b', 'c')

'a-b-c'

## Lab1
일회용 패스워드 생성기를 이용하여서 3개의 패스워드를 생성하여 출력하는 프로그램을 작성해 보기.

출력 예시 : 
    
ouuc4c <br>
uuahtp <br>
79s6oz <br>

In [31]:
import random

def PassWord():
    source = 'abcdefghijklmnopqrstuvxyz0123456789'
    pswd = ''

    for i in range(6):
        index = random.randrange(len(source))
        pswd = pswd + source[index]
    return pswd

print(PassWord())
print(PassWord())
print(PassWord())

8zaekc
tbr5z2
03iygc

### 4. 람다 함수

1. 매개변수 제한이 없음
2. 함수의 반환, 변수의 데이터값으로 사용 가능
3. list.sort()의 key 속성으로도 사용 가능

> 참고 <br>
  https://docs.python.org/3.6/reference/expressions.html#lambda

In [33]:
f1 = lambda x : x + 10
f1(10)

20

In [35]:
def sum(n):
    return lambda x : x + n

In [38]:
# f2 = lambda x : x + 10 으로 반환
f2 = sum(10)
f2(10)

20

In [39]:
f3 = lambda x : x ** 2

In [40]:
f3(2)

4

In [41]:
f4 = lambda x, y, z : 2*x + 3*y + 4*z

In [42]:
f4(1, 10, 100)

432

In [45]:
# f4와 동일한 로직의 일반함수 f5 개발하기
def f5(a, b, c):
    return a + 10*b + 100*c
f5(1,2,3)

321

In [46]:
mylist = [1, 2, 5, 7, 3, 8, 9]
mylist.sort()

In [47]:
mylist

[1, 2, 3, 5, 7, 8, 9]

In [48]:
mylist = [1, 2, 5, 7, 3, 8, 9]
mylist.sort(reverse = True)

In [49]:
mylist

[9, 8, 7, 5, 3, 2, 1]

In [50]:
mylist = [1, 2, 5, 7, 3, 8, 9]
mylist.sort(key=lambda a:a)

In [51]:
mylist

[1, 2, 3, 5, 7, 8, 9]

In [52]:
mylist2 = [('kim', 25, 200), ('choi', 29, 300), ('song', 41, 100)]

In [53]:
# mylist2의 요소 index 값의 규칙으로 정렬하기
mylist2.sort(key=lambda a : a[2])
mylist2

[('song', 41, 100), ('kim', 25, 200), ('choi', 29, 300)]

In [54]:
mylist2 = [('kim', 25, 200), ('choi', 29, 300), ('song', 41, 100)]

In [55]:
mylist2.sort(key=lambda a : a[0])
mylist2

[('choi', 29, 300), ('kim', 25, 200), ('song', 41, 100)]

In [65]:
# 대소문자 구분 없이 sort 함수로 정렬 (lambda 사용)
mylist3 = ['RiCe', 'egg', 'SauSage']

mylist3.sort(key=lambda a : a.lower())
mylist3

['egg', 'RiCe', 'SauSage']

In [67]:
mydict1 = {'one':1, 'two':2, 'three':3, 'four':4}

In [73]:
# 알파벳 순서로 정렬
sorted(mydict1)

['four', 'one', 'three', 'two']

In [72]:
# 쌍으로 함께 뽑기
sorted(mydict1.items())

[('four', 4), ('one', 1), ('three', 3), ('two', 2)]

In [75]:
print(type(sorted(mydict1.items())))

<class 'list'>

In [77]:
# dict의 숫자 부분의 규칙에 따라 정렬
# [('four', 4), ('one', 1), ('three', 3), ('two', 2)]
sorted(mydict1.items(), key=lambda v : v[1])

[('one', 1), ('two', 2), ('three', 3), ('four', 4)]